.center
{
	text-align: center;
}

body{
	background-color: #FFFFFF;
}


#secret{
font-size: 4em;
letter-spacing: 0.4em;
text-align: center;
}

th{

 	text-align: center;
}

#time{

font-size: 4em;
letter-spacing: 0.4em;
text-align: center;

}